[Desktop Entry]
Name=eddit
GenericName=eddit
Comment=A simple text editor.
Categories=Accessories;TextTools;GTK;
Icon=/usr/share/icons/hicolor/scalable/apps/com.github.maze-n.eddit.svg
Keywords=Text;Editor;
MimeType=text/plain
Exec=com.github.maze-n.eddit %u
Terminal=false
Type=Application
