[Desktop Entry]
Type=Application
Name=eddit
GenericName=Text editor
Comment=View and edit text files
Exec=com.github.maze-n.eddit %u
Icon=/usr/share/icons/hicolor/scalable/apps/com.github.maze-n.eddit.svg
Terminal=false
Actions=new-empty-window;
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
Keywords=Text;Editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=com.github.maze-n.eddit
Icon=list-add
